{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-7 mx-auto mt-5">
                <div class="card radius-10">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h4>Sign Up</h4>
                            <p>Creat New account</p>
                        </div>
                        <form class="form-body row g-3" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            {% for f in form %}

                                <div class="col-12">
                                    <label for="{{ f.id_for_label }}"
                                           class="form-label">{{ f.label }}</label>
                                    {{ f.errors }}
                                    <input type="{{ f.name }}" name="{{ f.name }}" id="{{ f.id_for_label }}"
                                           class="form-control"
                                           placeholder="{{ f.name }}" required>
                                </div>
                            {% endfor %}

                            {#                            <div class="col-12">#}
                            {#                                <label for="{{ form.username.id_for_label }}"#}
                            {#                                       class="form-label">{{ form.username.label }}</label>#}
                            {#{{ form.username.as_widget }}#}
                            {#                                <input type="text" name="{{ form.username.name }}" class="form-control"#}
                            {#                                       placeholder="{{ form.username.name }}" required>#}
                            {#                            </div>#}
                            {#                            <div class="col-12">#}
                            {#                                <label for="{{ form.password.id_for_label }}"#}
                            {#                                       class="form-label">{{ form.password.label }}</label>#}
                            {#                                {{ form.password.errors }}#}
                            {#                                <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_label }}" class="form-control"#}
                            {#                                       placeholder="{{ form.password.name }}" required>#}
                            {#                            </div>#}
                            <div class="col-12 col-lg-12">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-dark">Sign Up</button>
                                </div>
                                {#{{ form }}#}
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="position-relative border-bottom my-3">
                                    <div class="position-absolute seperator translate-middle-y">or continue with</div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <div class="social-login d-flex flex-row align-items-center justify-content-center gap-2 my-2">
                                    <a href="#" class=""><img src="{% static 'images/icons/facebook.png' %}" alt=""></a>
                                    <a href="#" class=""><img src="{% static 'images/icons/apple-black-logo.png' %}"
                                                              alt=""></a>
                                    <a href="#" class=""><img src="{% static 'images/icons/google.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12 text-center">
                                <p class="mb-0">У вас уже есть учетная запись?
                                    <a href="{% url 'register' %}">Регистрироваться</a>
                                </p>
                            </div>
                            <div class="col-12 col-lg-12 text-center">
                                <p class="mb-0">Забыли пароль?
                                    <a href="{% url 'password_reset' %}">Сбросить пароля?</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}